@model SistemaTienda.Models.UnidadMedida

@{
    ViewBag.Title = "Details";
}

<h2>Detalles UnidadMedida</h2>

<div>
    <h4>UnidadMedida</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.UnidadMediaId }, new { @class = "btn btn-success" }) |
    @Html.ActionLink("Regresar", "Index", new { id = Model.UnidadMediaId }, new { @class = "btn btn-secondary" })
</p>
