@model SistemaTienda.Models.CondicionPago

@{
    ViewBag.Title = "Eliminar";
}

<h2>Delete</h2>

<h3>¿Estas seguro que quieres eliminarlo?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
        <input type="submit" value="Borrar" class="btn btn-success" /> |
        @Html.ActionLink("Regresar", "Index", new { id = Model.CondicionPagoId }, new { @class = "btn btn-secondary" })
</div>
    }
</div>
