@model SistemaTienda.Models.Producto

@{
    ViewBag.Title = "Delete";
}

<h2>Borrar</h2>

<h3>¿Estas seguro que quieres borrar este producto?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoriaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoriaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnidadMedidaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnidadMedidaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioCompra)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
        <input type="submit" value="Borrar" class="btn btn-success" /> |
        @Html.ActionLink("Regresar", "Index", new { id = Model.ProductoId }, new { @class = "btn btn-secondary" })
</div>
    }
</div>
