@model IEnumerable<SistemaTienda.Models.Factura>

@{
    ViewBag.Title = "Index";
}

<h2>Factura</h2>

<p>
    @Html.ActionLink("Nuevo", "Create", null, new { @Class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pedido.PedidoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaFactura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descuento)
        </th>
        <th>Acciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pedido.PedidoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaFactura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descuento)
        </td>
        <td>
            @Html.ActionLink("Detalles", "Details", new { id = item.FacturaId }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Eliminar", "Delete", new { id = item.FacturaId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
