@model SistemaTienda.Models.FacturaDetalle

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FacturaDetalle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Factura.FacturaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Factura.FacturaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto.ProductoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto.ProductoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subtotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subtotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descuento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descuento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FacturaDetalleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
