@model IEnumerable<SistemaTienda.Models.Pedido>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Pedidos</h2>

<p>
    @Html.ActionLink("Crear", "Crear", new { id = Model.First().ClienteId }, new { @class = "btn btn-primary" })
</p>
@if (Model.First().PedidoId == 0)
{
    <p>El cliente no tiene pedidos definidos</p>
}
else
{
    <table id="ordenes" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cliente.Codigo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaCreacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaPedido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descuento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubTotal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th>
                    Acciones
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.PedidoId.ToString(), "Detalle", new { id = item.PedidoId }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cliente.Codigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaCreacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaPedido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descuento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubTotal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        @Html.ActionLink("Lineas", "Lineas", new { id = item.PedidoId }, new { @class = "btn btn-default" })
                        @if (item.Estado == SistemaTienda.Enums.EstadoPedido.Abierto)
                        {
                            @Html.ActionLink("Editar", "Editar", new { id = item.PedidoId }, new { @class = "btn btn-info" })
                            @Html.ActionLink("Eliminar", "Eliminar", new { id = item.PedidoId }, new { @class = "btn btn-danger" })
                            @Html.ActionLink("Facturar", "Facturar", new { id = item.PedidoId }, new { @class = "btn btn-primary" })
                        }
                    </td>
                </tr>
            }

</table>
